<div class="lastfm-tile lastfm-tile-station">
	<div class="name-image-buttons">
		<div class="username">
			<p><a data-ng-href="http://www.last.fm/user/{{station.lastfmUsername}}" target="_blank">{{station.lastfmUsername}}</a></p>
		</div>
		<div class="image">
			<img data-ng-if="station.lastfmProfileImage" width="114px" data-ng-src="{{station.lastfmProfileImage}}">
			<img data-ng-if="!station.lastfmProfileImage" src="/img/ajax-loader.gif" class="loading">
		</div>
		<div class="buttons">
			<button data-ng-if="!station.currentlyScrobbling" class="btn btn-xs btn-success" data-ng-click="scrobbleAlong(station)">Scrobble Along</button>
			<button data-ng-if="station.currentlyScrobbling" class="btn btn-xs btn-default" data-ng-click="stopScrobbling(station)">Stop Scrobbling</button>
		</div>
	</div>
	<div class="station-info">
		<div class="general-info">
			<p>
				<a href="{{station.stationUrl}}" target="_blank">Website</a> ·
				<a href="{{station.streamUrl}}" target="_blank">Stream</a>
			</p>
		</div>
		<div class="compatibility" data-ng-show="loggedIn && station.tasteometer !== null">
			Compatibility
			<div class="tasteometer" title="{{station.tasteometer}}%">
				<span class="bar" style="width: {{station.tasteometer}}%;" \></span>
			</div>
		</div>
		<div class="recent-tracks">
			Recent Tracks <br/>
			<img data-ng-if="station.recentTracks === null" src="/img/ajax-loader.gif" class="loading">

			<div data-ng-repeat="track in station.recentTracks | limitTo:3" class="track-row">
				<div class="track-image">
					<a href="{{track.url}}" target="_blank"><img data-ng-src="{{track.image || '/img/album-placeholder.png'}}"></a>
				</div>
				<div class="track-name">
					<a href="{{track.url}}" target="_blank" title="{{track.artist}} - {{track.name}}">
						{{track.artist}}
						<br>
						{{track.name}}
					</a>
				</div>
				<div data-ng-if="track.nowPlaying" class="now-playing" style="visibility: visible;">
					<img src="/img/nowplaying.gif" title="Now Playing">
				</div>
			</div>
		</div>
	</div>
</div>