body {
	padding-top: 70px;
}

#user-info {
	text-align: center;
}

#user-info .user-tile, #user-info .station-tile {
	display: inline-block;
}

.logged-in-as {
	margin-right: 4px;
}

.lastfm-tile {
	border: 1px solid #ccc;
	background-color: white;
	overflow: hidden;
	height: 186px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.lastfm-tile .ng-hide {
	visibility: hidden !important;
	display:block !important;
}

.lastfm-tile-station {
	width: 270px;
}

.lastfm-tile-user {
	width: 118px;
}

.lastfm-tile .name-image-buttons {
	width: 116px;
	text-align: center;
	overflow: hidden;
	float: left;
}

.lastfm-tile .username {
	height: 36px;
	line-height: 15px;
}

.lastfm-tile-user .username p {
	padding-top: 3px;
}

.lastfm-tile-station .username p {
	padding-top: 10px;
}

.lastfm-tile .image {
	height: 120px;
	overflow: hidden;
	padding-top: 5px;
}

.lastfm-tile .image .loading {
	padding-top: 40px;
}

.lastfm-tile .buttons {
	height: 24px;
	padding: 2px;
}

.lastfm-tile .station-info {
	width: 149px;
	height: 186px;
	float: left;
	text-align: left;
}

.lastfm-tile .station-info .general-info {
	text-align: center;
	height: 32px;
	line-height: 15px;
}

.lastfm-tile .station-info .general-info p {
	padding-top: 10px;
}

.lastfm-tile .station-info .compatibility {
	height: 26px;
	font-size: 10px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
}

.lastfm-tile .station-info .recent-tracks {
	margin-top: 5px;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	text-align: center;
}

.lastfm-tile .station-info .recent-tracks .loading {
	padding-top: 40px;
}

.lastfm-tile .station-info .recent-tracks .track-row {
	height: 30px;
	overflow: hidden;
	margin-top: 5px;
	position: relative;
}

.lastfm-tile .station-info .recent-tracks .track-image {
	width: 30px;
	float: left;
}
.lastfm-tile .station-info .recent-tracks .track-image img {
	width: 30px;
	height: 30px;
}

.lastfm-tile .station-info .recent-tracks .track-name {
	width: 114px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	padding: 3px 0 0 2px;
	font-weight: normal;
	text-align: left;
	line-height: 12px;
}

.lastfm-tile .station-info .recent-tracks .now-playing {
	visibility: hidden;
	position: absolute;
	height: 12px;
	width: 12px;
	top: 0;
	right: 2px;
}

.lastfm-tile .tasteometer {
	height: 8px;
	display: block;
	background: #ccc;
}

.lastfm-tile .tasteometer .bar {
	height: 8px;
	background: #71b7e6;
	display: block;
	width: 0%;
}

.sort-buttons {
	padding-top: 24px;
}

.stations {
	padding: 8px;
}

.stations .station-tile {
	float: left;
	margin: 4px;
}

p#continue-scrobbling-note {
	font-size: small;
	font-weight: bold;
	font-style: italic;
	display: none;
}

.station-tile.ng-enter,
.station-tile.ng-leave {
	-webkit-transition: 0.15s linear all;
	transition: 0.15s linear all;
}

.station-tile.ng-enter {
	opacity:0;
}
.station-tile.ng-enter.ng-enter-active {
	opacity:1;
}

.station-tile.my-repeat-animation.ng-leave {
	opacity:1;
}
.station-tile.ng-leave.ng-leave-active {
	opacity:0;
}