extends layout

block body
	div(data-ng-controller='IndexCtrl')
		div(data-ng-if='loggedIn')
			div(user-tile)
			div(data-ng-repeat='station in stations | filter:{currentlyScrobbling:true}', station-tile)

		div(data-ng-if='!loggedIn')
			h3 Scrobble Along with the radio
			p.
				Have you ever been listening to a radio station and wished there was a way to scrobble those songs?
				Now you can! Log in with your Last.fm account and select a station below, and you will scrobble what
				they play. For more information about how this works and how to get in touch, check out the about page.
			a(href='{{loginUrl}}') Login

		p(data-ng-if='loggedIn') Sort by:
			ul
				li
					a(href='', data-ng-click='sortStationsBy = "lastfmUsername"') Name
					span(data-ng-if='sortStationsBy == "lastfmUsername"')  (selected)
				li
					a(href='', data-ng-click='sortStationsBy = "scrobbles"') Scrobbles
					span(data-ng-if='sortStationsBy == "scrobbles"')  (selected)
				li
					a(href='', data-ng-click='sortStationsBy = "compatibility"') Compatibility
					span(data-ng-if='sortStationsBy == "compatibility"')  (selected)

		div(data-ng-repeat='station in stations | filter:{currentlyScrobbling:false} | orderBy:sortStations', station-tile)