doctype html
html(lang="en", data-ng-app="scrobbleAlong")
	head
		meta(charset='utf8')
		title Angular Express Seed App
		link(rel='stylesheet', href='/css/app.css')
	body
		div(data-ng-controller='MenuCtrl')
			ul
				li
					a(href='/') ScrobbleAlong
				li
					a(href='/about') About
				li
					a(href='/about#contact') Contact
				li(data-ng-if='loggedIn')
					a(href='/logout') Logout
				li(data-ng-if='!loggedIn')
					a(href='{{loginUrl}}') Login


		block body

		script(src='js/lib/angular/angular.js')
		script(src='js/lib/angular/angular-cookies.js')
		script(src='js/app.js')
		script(src='js/services.js')
		script(src='js/controllers.js')
		script(src='js/filters.js')
		script(src='js/directives.js')