doctype html
html(lang="en", data-ng-app="scrobbleAlong")
	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Scrobble Along
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		//- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='shortcut icon', href='img/favicon.ico')

	body(data-ng-controller='LoginCtrl')
		div.navbar.navbar-default.navbar-fixed-top(role='navigation')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Scrobble Along
				div.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/about') About
						li(data-ng-if='loggedIn')
							button.btn.btn-link.navbar-btn(data-ng-click='logoutModal()') Logout
						li(data-ng-if='!loggedIn')
							button.btn.btn-link.navbar-btn(data-ng-click='login()') Log In With Last.fm

		div.container
			block body

		div.modal.fade#logout-modal
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title Logout
					div.modal-body
						p You are currently scrobbling along with a radio station, do you want to stop or keep scrobbling after you are logged out?
					div.modal-footer
						a.btn.btn-primary(role="button", href="/logout") Stop Scrobbling
						a.btn.btn-primary(role="button", href="/logout?keep-scrobbling") Keep scrobbling
						button.btn.btn-default(data-dismiss="modal") Stay Logged In

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
		//- script(src='js/lib/angular/angular.js')
		script(src='js/lib/angular/angular-cookies.js')
		script(src='js/lib/angular/angular-animate.js')
		script(src='js/app.js')
		script(src='js/services.js')
		script(src='js/controllers.js')
		script(src='js/filters.js')
		script(src='js/directives.js')

		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-39100125-1']);
			_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();